@using Projeto_Final.CSHARP;
@{ 
    BancoDeDados.DBConnect();
    Boolean logado = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    HttpCookie cookiecpf = Request.Cookies["UserCpf"];

    string usercpf = cookiecpf.Value.ToString();

    if (cookie != null)
    {
        logado = true;
    }

    pessoa usuario = new pessoa();

    usuario.cpf = cookiecpf.Value.ToString();
}

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONTE-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--ICONES-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,1,-25" />
    <!--CSS-->
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/userarea.css" />

    <title>CENAI</title>
</head>
<body div class="bg">
    <section>
        <nav>
            <!--SIDEBAR-->
            <div class="sidenav" onclick="Dropdownbtn()">
                <!--PAGINA INICIAL-->
                <a href="~/HTMLCSS/Main/main.cshtml">
                    <span class="material-symbols-outlined">home</span>
                    Pagina Inicial
                </a>
                <!--PESQUISA-->
                <button class="dropdown-btn">
                    <span class="material-symbols-outlined">search</span>
                    Pesquisa
                    <span class="material-symbols-outlined">expand_more</span>
                </button>
                <!--PESQUISA OPCOES-->
                <div class="dropdown-container">
                    <a href="#">Usuarios</a>
                    <a href="#">Turmas</a>
                    <a href="#">Salas</a>
                </div>
                <!--PROVAS-->
                <a href="#">
                    <span class="material-symbols-outlined">quiz</span>
                    Provas
                </a>
                <!--AREA DO USUARIO-->
                <a  class="active" href="~/HTMLTEMP/Checagem/check_userarea.cshtml">
                    <span class="material-symbols-outlined">account_circle</span>
                    Área do Usuario
                </a>
                <!--LOGOUT-->
                <a class="logoff" onclick="LogOff()">
                    <span class="material-symbols-outlined">logout</span>
                    Fazer Logoff
                </a>
            </div>
        </nav>

        <main>
            <div class="content" id="content">
                <div class="userinfo-container">
                    <div class="userinfo">

                        <h1>INFORMAÇÕES DO USUARIO</h1>
                        <center>
                            @{List<pessoa> lista = Funcoes.Info_User(usuario);}
                            @foreach (pessoa listagempessoa in lista)
                            {
                                <h3>CPF</h3>
                                <p>@listagempessoa.cpf</p>
                                <form method="post" action="editin_user.cshtml" onsubmit="return checkPassword(this);" >
                                    <input type="hidden" id="userid" name="userid" value="@listagempessoa.cpf" />
                                    <h3>NOME</h3>
                                    <input type="text" name="nomeid" id="nomeid" class="campo_nome"
                                           placeholder="@listagempessoa.nome" minlenght="3" maxlength="100" /><br />

                                    <h3>EMAIL</h3>
                                    <input type="email" name="emailid" id="emailid" class="campo_email"
                                           placeholder="@listagempessoa.email" maxlength="100" />

                                    <h3>TELEFONE</h3>
                                    <input type="tel" name="telid" class="campo_tel"
                                           placeholder="@listagempessoa.telefone" minxlength="11"
                                           maxlength="14" />

                                    <h3>SENHA</h3>
                                    <input type="password" id="senhaid1" name="senhaid1" class="campo_senha1"
                                           placeholder="nova senha" minlength="6" maxlength="16" />
                                    <br />
                                    <input type="password" id="senhaid2" name="senhaid2" class="campo_senha2"
                                           placeholder="verifique nova senha" minlength="6" maxlength="16" />
                                    <br />
                                    <button>
                                        <span class="material-symbols-outlined">edit_note</span> EDITAR
                                    </button>
                                    <br />
                                </form>
                             }
                            </center>
                        <a class="cnclbtn" href="~/HTMLCSS/UserArea/userarea_prof.cshtml">
                            <span class="material-symbols-outlined">arrow_back</span>
                        </a>

                    </div>
                </div>

                <div class="turmainfo-container">
                    <div class="turmainfo">
                        <h1>Turmas do Professor</h1>
                        <center>
                            @{List<turma> lista_turma = Funcoes.InfoProf_turmas(usercpf);}
                            @foreach (turma turmas in lista_turma)
                            {
                                <h3>TURMA</h3>
                                <p>@turmas.idturma</p>

                                <h3>CURSO</h3>
                                <p>@turmas.nome_curso</p>

                                <h3>TURNO</h3>
                                <p>@turmas.turno</p>

                                <h3>SALA</h3>
                                <p>Sala @turmas.idsala</p>
                                <br />
                                <br />
                                <center>
                                    <hr class="green-line" />
                                </center>
                            }
                        </center>


                    </div>
                </div>

            </div>
        </main>
    </section>

        <script src="~/JS/Index.js"></script>
    </body>
</html>
