@using Projeto_Final.CSHARP
@{
    BancoDeDados.DBConnect();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/Listagem.css" />
    <title>CENAI</title>
</head>
<body div class="bg">
    <section>
        <nav>
            <div class="sidebar">
                <a href="~/HTMLCSS/main.cshtml">Pagina Inicial</a>
                <a href="~/HTMLCSS/temps/temp_regII.cshtml">Registro de Usuarios</a>
                <a class="active" href="~/HTMLCSS/Listagem.cshtml">Listagem de Usuarios</a>
                <a class="logoff"  onclick="LogOff()">Fazer Logoff</a>
            </div>
        </nav>

        <div class="content" id="content">
            <div class="container">
                <center>
                    <h1>Clique aqui para listar as pessoas cadastradas.</h1>
                    <div class="botao" onclick="poof('lista')">
                        <input type="submit" value="LISTAR!" />
                    </div>
                </center>
            </div>

            <div class="lista" id="lista" style="visibility:hidden">
                <center>
                    <table>
                        <tr>
                            <th>CPF</th>
                            <th>NOME</th>
                            <th>EMAIL</th>
                            <th>TELEFONE</th>
                            <th>NIVEL DE ACESSO</th>
                            <th>OPÇÕES</th>
                        </tr>
                        @{List<pessoa> lista = Funcoes.Listagem_Pessoa();}
                        @foreach (pessoa listagempessoa in lista)
                        {
                        <tr>
                            <td>@listagempessoa.cpf</td>
                            <td>@listagempessoa.nome</td>
                            <td>@listagempessoa.email</td>
                            <td>@listagempessoa.telefone</td>
                            <td>@listagempessoa.nivacesso</td>
                            <td>
                                <button type="button" class="btn_edit">
                                    <span class="glyphicon glyphicon-edit"></span> Editar
                                </button>
                                <button type="button" class="btn_remove">
                                    <span class="glyphicon glyphicon-remove-circle"></span> Remover
                                </button>
                            </td>
                        </tr>
                            
                        }
                    </table>
                    
                </center>
            </div>
        </div>
    </section>
    
    <script src="~/JS/Index.js"></script>
</body>
</html>
