@using Projeto_Final.CSHARP
@{
    BancoDeDados.DBConnect();
    Boolean logado = false;

    HttpCookie cookie = Request.Cookies["UserLogin"];
    HttpCookie cookiecpf = Request.Cookies["UserCPF"];

    if (cookie != null)
    {
        logado = true;
    }
    else
    {
        <text>
            <script>window.location.href = "/Index.cshtml";</script></text>
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONTE-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <!--ICONES-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,1,-25" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/Listagem.css" />
    <title>CENAI</title>
</head>
<body div class="bg" onload="poof()">
    <section>
        <nav>
            <input type="hidden" id="nivel_acesso" value="@cookie.Value.ToString()" />
            <!--SIDEBAR-->
            <div class="sidenav">
                <!--PAGINA INICIAL-->
                <a class="active" href="~/HTMLCSS/Main/main.cshtml">
                    <span class="material-symbols-outlined">home</span>
                    Pagina Inicial
                </a>
                <!--MATRICULA-->
                <div id="sidenav-matricula" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">person_add</span>
                        Matricula
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--MATRICULA OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLCSS/Registro/matricula.cshtml">Fazer Matricula</a>
                        <a href="~/HTMLCSS/Listagem/listagem_matriculas.cshtml">Alunos Matriculados</a>
                    </div>
                </div>
                <!--REGISTRO-->
                <div id="sidenav-registro" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">app_registration</span>
                        Registro
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--REGISTRO OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLTEMP/Checagem/check_registro.cshtml">Usuarios</a>
                        <a href="~/HTMLCSS/Registro/registro_turma.cshtml">Turmas</a>
                        <a href="~/HTMLCSS/Registro/registro_sala_setor.cshtml">Salas/Setores</a>
                    </div>
                </div>
                <!--LISTAGEM-->
                <div id="sidenav-listagem" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">list_alt</span>
                        Listagem
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--LISTAGEM OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLTEMP/Checagem/check_listagem.cshtml">Usuarios</a>
                        <a href="~/HTMLCSS/Listagem/listagem_turma.cshtml">Turmas</a>
                        <a href="~/HTMLCSS/Listagem/listagem_sala.cshtml">Salas</a>
                        <a href="~/HTMLCSS/Listagem/listagem_setores.cshtml">Setores</a>
                    </div>
                </div>
                <!--PROVAS-->
                <div id="sidenav-provas" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">quiz</span>
                        Provas
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--PESQUISA OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLCSS/Provas/registrar_notas.cshtml">Dar Nota</a>
                        <a href="~/HTMLCSS/Provas/listar_notas_prof.cshtml">Ver Notas</a>
                    </div>
                </div>
                <!--NOTAS-->
                <div id="sidenav-notas" style="display:none;">
                    <a href="~/HTMLCSS/Provas/listar_notas_aluno.cshtml">
                        <span class="material-symbols-outlined">scoreboard</span>
                        Suas Notas
                    </a>
                </div>
                <!--AREA DO USUARIO-->
                <a href="~/HTMLCSS/UserArea/userarea.cshtml">
                    <span class="material-symbols-outlined">account_circle</span>
                    Área do Usuario
                </a>
                <!--LOGOUT-->
                <a class="logoff" onclick="LogOff()">
                    <span class="material-symbols-outlined">logout</span>
                    Fazer Logoff
                </a>
            </div>


        </nav>
        </nav>

        <div class="content" id="content">
            <div class="lista" id="lista">
                <table>
                    <tr>
                        <th>CPF</th>
                        <th>NOME</th>
                        <th>EMAIL</th>
                        <th>TELEFONE</th>
                        <th>
                            <button class="dropdown-btn">
                                NIVEL DE ACESSO<span class="material-symbols-outlined">expand_more</span>
                            </button>
                            <div class="dropdown-container">
                                <a href="~/HTMLCSS/Listagem/Listagem_Admins.cshtml">administrador</a><br />
                                <a href="~/HTMLCSS/Listagem/Listagem_Alunos.cshtml">usuario</a><br />
                                <a href="~/HTMLCSS/Listagem/Listagem_Professores.cshtml">professor</a><br />
                            </div>
                        </th>
                        <th>OPÇÕES</th>
                    </tr>
                    @{List<pessoa> lista = Funcoes.Listagem_Alunos();}
                    @foreach (pessoa listagemalunos in lista)
                    {
                        <tr>
                            <td>@listagemalunos.cpf</td>
                            <td>@listagemalunos.nome</td>
                            <td>@listagemalunos.email</td>
                            <td>@listagemalunos.telefone</td>
                            <td>@listagemalunos.nivacesso</td>
                            <td>
                                <div class="options">
                                    <form method="post" action="~/HTMLCSS/Listagem/edit_listagem/edit_list_user.cshtml">
                                        <input type="hidden" id="userid" name="userid" value="@listagemalunos.cpf" />
                                        <button class="btn_edit">
                                            <span class="material-symbols-outlined">
                                                edit_square
                                            </span>
                                        </button>
                                    </form>
                                    <form method="post" action="~/HTMLCSS/Listagem/remove/delete_user.cshtml">
                                        <input type="hidden" id="userid" name="userid" value="@listagemalunos.cpf" />

                                        <button class="btn_remove">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </button>
                                    </form>
                                </div>

                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </section>

    <script src="~/JS/Index.js"></script>
</body>
</html>
