@using Projeto_Final.CSHARP;
@{
    BancoDeDados.DBConnect();
    Boolean logado = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    HttpCookie cookiecpf = Request.Cookies["UserCpf"];

    string usercpf = cookiecpf.Value.ToString();
    pessoa usuario = new pessoa();

    usuario.cpf = cookiecpf.Value.ToString();

    if (cookie != null)
    {
        logado = true;
    }
    else
    {
        <text>
            <script>window.location.href = "/Index.cshtml";</script></text>
    }


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONTE-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--ICONES-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,1,-25" />
    <!--CSS-->
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/userarea.css" />

    <title>CENAI</title>
</head>
<body div class="bg" onload="poof();">
    <input type="hidden" id="nivel_acesso" value="@cookie.Value.ToString()" />
    <section>
        <nav>

            <!--SIDEBAR-->
            <div class="sidenav">

                <!--PAGINA INICIAL-->
                <a href="~/HTMLCSS/Main/main.cshtml">
                    <span class="material-symbols-outlined">home</span>
                    Pagina Inicial
                </a>
                <!--MATRICULA-->
                <div id="sidenav-matricula" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">person_add</span>
                        Matricula
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--MATRICULA OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLCSS/Registro/matricula.cshtml">Fazer Matricula</a>
                        <a href="~/HTMLCSS/Listagem/listagem_matriculas.cshtml">Alunos Matriculados</a>
                    </div>
                </div>
                <!--REGISTRO-->
                <div id="sidenav-registro" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">app_registration</span>
                        Registro
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--REGISTRO OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLTEMP/Checagem/check_registro.cshtml">Usuarios</a>
                        <a href="~/HTMLCSS/Registro/registro_turma.cshtml">Turmas</a>
                        <a href="~/HTMLCSS/Registro/registro_sala_setor.cshtml">Salas/Setores</a>
                    </div>
                </div>
                <!--LISTAGEM-->
                <div id="sidenav-listagem" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">list_alt</span>
                        Listagem
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--LISTAGEM OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLTEMP/Checagem/check_listagem.cshtml">Usuarios</a>
                        <a href="~/HTMLCSS/Listagem/listagem_turma.cshtml">Turmas</a>
                        <a href="~/HTMLCSS/Listagem/listagem_sala.cshtml">Salas</a>
                        <a href="~/HTMLCSS/Listagem/listagem_setores.cshtml">Setores</a>
                    </div>
                </div>
                <!--PESQUISA-->
                <div id="sidenav-pesquisa" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">search</span>
                        Pesquisa
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--PESQUISA OPCOES-->
                    <div class="dropdown-container">
                        <a href="#">Usuarios</a>
                        <a href="#">Turmas</a>
                        <a href="#">Salas</a>
                    </div>
                </div>
                <!--PROVAS-->
                <div id="sidenav-provas" style="display:none;">
                    <button class="dropdown-btn">
                        <span class="material-symbols-outlined">quiz</span>
                        Provas
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <!--PESQUISA OPCOES-->
                    <div class="dropdown-container">
                        <a href="~/HTMLCSS/Provas/registrar_notas.cshtml">Dar Nota</a>
                        <a href="~/HTMLCSS/Provas/listar_notas_prof.cshtml">Ver Notas</a>
                    </div>
                </div>
                <!--NOTAS-->
                <div id="sidenav-notas" style="display:none;">
                    <a href="#">
                        <span class="material-symbols-outlined">scoreboard</span>
                        Suas Notas
                    </a>
                </div>
                <!--AREA DO USUARIO-->
                <a class="active" href="~/HTMLCSS/UserArea/userarea.cshtml">
                    <span class="material-symbols-outlined">account_circle</span>
                    Área do Usuario
                </a>
                <!--LOGOUT-->
                <a class="logoff" onclick="LogOff()">
                    <span class="material-symbols-outlined">logout</span>
                    Fazer Logoff
                </a>
            </div>
        </nav>

        <main>
            <div class="content" id="content">
                <div class="userinfo-container">
                    <div class="userinfo">

                        <h1>INFORMAÇÕES DO USUARIO</h1>
                        <center>
                            @{List<pessoa> lista = Funcoes.Info_User(usuario);}
                            @foreach (pessoa listagempessoa in lista)
                            {
                                <h3>CPF</h3>
                                <p>@listagempessoa.cpf</p>

                                <h3>NOME</h3>
                                <p>@listagempessoa.nome</p>

                                <h3>EMAIL</h3>
                                <p>@listagempessoa.email</p>

                                <h3>TELEFONE</h3>
                                <p>@listagempessoa.telefone</p>

                                <h3>SENHA</h3>
                                <p><small>**********</small></p>

                            }
                        </center>
                        <a class="editbtn" href="~/HTMLCSS/UserArea/edit_usearea/edit_user.cshtml">
                            <span class="material-symbols-outlined">edit_note</span>
                        </a>

                    </div>
                </div>

                <div id="aluno-container" style="display:none;">
                    <div class="turmainfo-container" id="turmainfo-container">
                        <div class="turmainfo" id="turmainfo">
                            <h1>MATRICULA DO USUARIO</h1>
                            <center>
                                @{List<matricula> lista_mat = Funcoes.InfoUser_matric(usercpf);}
                                @foreach (matricula matriculados in lista_mat)
                                {
                                    <h3>TURMA</h3>
                                    <p>@matriculados.idmatricula</p>

                                    <h3>CURSO</h3>
                                    <p>@matriculados.idaluno</p>

                                    <h3>TURNO</h3>
                                    <p>@matriculados.idturma</p>

                                    <h3>SALA</h3>
                                    <p>Sala @matriculados.extraum</p>

                                    <h3>PROFESSOR</h3>
                                    <p>@matriculados.extradois</p>
                                    <br />
                                    <br />
                                    <center>
                                        <hr class="green-line" />
                                    </center>
                                }
                            </center>
                        </div>
                    </div>
                </div>

                <div id="prof-container" style="display:none;">
                    <div class="fessorinfo-container">
                        <div class="fessorinfo">
                            <h1>Turmas do Professor</h1>
                            <center>
                                @{List<turma> lista_turma = Funcoes.InfoProf_turmas(usercpf);}
                                @foreach (turma turmas in lista_turma)
                                {
                                    <h3>TURMA</h3>
                                    <p>@turmas.idturma</p>

                                    <h3>CURSO</h3>
                                    <p>@turmas.nome_curso</p>

                                    <h3>TURNO</h3>
                                    <p>@turmas.turno</p>

                                    <h3>SALA</h3>
                                    <p>Sala @turmas.idsala</p>
                                    <br />
                                    <br />
                                    <center>
                                        <hr class="green-line" />
                                    </center>
                                }
                            </center>


                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>

    <script src="~/JS/Index.js">

    </script>
</body>
</html>
